/* ==================================== */
/*              Variables               */
/* ==================================== */
/* ============Color=========== */
/* ============Fonts=========== */
/* ============Media=========== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  background-color: #13293d;
  color: #cde8f4;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #cde8f4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 10vw;
  font-size: 1rem;
}

section h1 {
  padding-right: 40px;
  font-size: 1.25rem;
  color: #ffb703;
}

section h2 {
  padding: 10px;
  font-size: 1.1rem;
}

section h3 {
  padding: 10px;
  font-size: 1.1rem;
}

section p {
  padding: 10px;
  font-size: 0.9rem;
}

section a {
  color: #cde8f4;
  text-decoration: none;
  padding: 8px;
}

section a:hover {
  padding-bottom: 0.4em;
}

section ul {
  position: relative;
  padding: 10px;
}

.intro-hello {
  color: #cde8f4;
}

.about img {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.about li {
  color: #8f6600;
}

.intro {
  padding: 50px 10vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.intro .intro-tagline {
  font-size: 1.25rem;
}

.intro .intro-hello {
  font-weight: 300;
}

.intro .intro-link {
  font-size: 1rem;
  font-weight: 400;
}

.intro h2 {
  padding: 10px;
  font-size: 1.1rem;
}

.intro a {
  color: #ffb703;
  padding: 0;
}

.intro a:hover {
  color: #8f6600;
}

img {
  border: 2px solid #555;
  height: 160px;
  width: 160px;
  margin: 10px 0 10px 0;
}

.footer {
  background-color: #18344e;
  padding: 20px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #18344e;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li a {
  padding: 1rem;
  display: block;
}

nav li a:hover {
  color: #ffb703;
}

nav .toggle-button {
  position: absolute;
  top: 1.1rem;
  right: 1.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    padding-top: 1.3rem;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(24, 52, 78, 0.877);
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 1024x;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .intro {
    padding: 100px 100px;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
  }
  main .intro h1 {
    font-size: 2rem;
  }
  main .intro .intro-tagline {
    font-size: 1.5rem;
    padding: 0;
  }
  main .about {
    padding: 50px 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
  }
  main .about h1 {
    font-size: 1.7rem;
  }
  main .about a {
    font-size: 1.3rem;
  }
  main .about .about-question {
    font-size: 1.8rem;
    padding-bottom: 30px;
  }
  main .portfolio {
    padding: 50px 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
  }
  main .portfolio h1 {
    font-size: 1.7rem;
  }
  main .portfolio a {
    font-size: 1.3rem;
  }
  main .portfolio .about-question {
    font-size: 1.8rem;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */