/* ==================================== */
/*              Variables               */
/* ==================================== */ /* ============Color=========== */
$color-primary: #13293d;
$color-secondary: #ffb703;
$color-tertiary: #18344e;
$font-color: #cde8f4;
$font-highlight: #8f6600;
$white: #fff;

/* ============Fonts=========== */

$font-style: "Roboto Mono", monospace;
$light-weight: 300;
$heavy-weight: 700;
$font-width: 100%;

/* ============Media=========== */

$break: 768px;
$max: 1024x;
