@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    padding-top: 1.3rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(24, 52, 78, 0.877);
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
    transition: 1s;
  }
}

@media (min-width: $break) {
  main {
    max-width: $max;
    display: block;
    margin-left: auto;
    margin-right: auto;
    & .intro {
      padding: 100px 100px;
      height: 90vh;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      max-width: 1440px;
      margin: 0 auto;
      h1 {
        font-size: 2rem;
      }
      .intro-tagline {
        font-size: 1.5rem;
        padding: 0;
      }
    }
    & .about {
      padding: 50px 100px;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      max-width: 1440px;
      margin: 0 auto;
      h1 {
        font-size: 1.7rem;
      }
      a {
        font-size: 1.3rem;
      }
      .about-question {
        font-size: 1.8rem;
        padding-bottom: 30px;
      }
    }
    & .portfolio {
      padding: 50px 100px;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      max-width: 1440px;
      margin: 0 auto;
      h1 {
        font-size: 1.7rem;
      }
      a {
        font-size: 1.3rem;
      }
      .about-question {
        font-size: 1.8rem;
        padding-bottom: 30px;
      }
    }
  }
}
