nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-tertiary;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li a {
    padding: 1rem;
    display: block;
    &:hover {
      color: $color-secondary;
    }
  }
  .toggle-button {
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}
