html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  font-family: $font-style;
  background-color: $color-primary;
  color: $font-color;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $font-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 10vw;
  font-size: 1rem;
  & h1 {
    padding-right: 40px;
    font-size: 1.25rem;
    color: $color-secondary;
  }
  & h2 {
    padding: 10px;
    font-size: 1.1rem;
  }
  & h3 {
    padding: 10px;
    font-size: 1.1rem;
  }
  & p {
    padding: 10px;
    font-size: 0.9rem;
  }

  & a {
    color: $font-color;
    text-decoration: none;
    padding: 8px;
    &:hover {
      padding-bottom: 0.4em;
    }
  }
  & ul {
    position: relative;
    padding: 10px;
  }
}
.intro-hello {
  color: $font-color;
}

.about {
  & img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  & li {
    color: $font-highlight;
  }
}
