.intro {
  padding: 50px 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;

  & .intro-tagline {
    font-size: 1.25rem;
  }
  & .intro-hello {
    font-weight: 300;
  }
  & .intro-link {
    font-size: 1rem;
    font-weight: 400;
  }
  & h2 {
    padding: 10px;
    font-size: 1.1rem;
  }
  & a {
    color: $color-secondary;
    padding: 0;
    &:hover {
      color: $font-highlight;
    }
  }
}
